# .gitignore file for: documentation
# Ignore .obsidian folder on all category subfolders using ** wildcard
**/.obsidian/

## Ignore .vscode folder on all categories using ** wildcard
**/.vscode/

# Ignore .obsidian folder on main folder
.obsidian/

# Ignore all featured images
**/*.jpg

# Ignore desktop.ini
desktop.ini